nav {

    width: 100%;

    padding: 0 100px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.80);
    height: 105px;
    backdrop-filter: blur(24px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-left {
    display: flex;
    flex-direction: row;
    gap: 57px;
    align-items: center;
}



.logo {

    width: 243px;
    height: 75px;
    flex-shrink: 0;
    fill: url(/images/logo.svg), lightgray 0px -0.085px / 100% 100.228% no-repeat;
    cursor: pointer;

}

.nav-links-container {


    display: flex;
    gap: 46px;



}

.nav-links-container a {

    display: flex;

    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #202020;
    text-align: center;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-links-container a:hover {
    color: #F4B23E;

}

.get-started {
   
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;

}

.login-link {
 
    display: flex;
    padding: 12px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #202020;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.login-link:hover {
    border: 1px solid #1B442A;
    border-radius: 80px;
   
}

.reg-button {
    display: flex;
    padding: 12px 25px;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
    border-radius: 80px;
    background: #1B442A;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.reg-button:hover {
    border: none;
    background: #F4B23E;
    color: #1B442A;

}


.reg-button a {
    color: #FFF;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
}

.hamburger {
    display: none;
   
}


@media screen and (max-width: 1440px) {

    nav {

        width: 100%;

        padding: 0 40px;
        display: flex;

        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.80);
        height: 105px;
        backdrop-filter: blur(24px);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .nav-left {

        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .logo {
        width: 243px;
        height: 75px;
    }

    .nav-links-container {

        gap: 46px;
    }

    .nav-links-container a {
        font-size: 14px;
    }

    .get-started {
        gap: 16px;
        display: inline-flex;
        align-items: flex-start;
      
        margin-left: 150px;


    }

    .login-link {
        padding: 12px 25px;
        font-size: 14px;
    }

    .reg-button {
        padding: 12px 25px;
        font-size: 14px;
    }
}

/* Mobile screen with hamburger menu */


@media screen and (max-width: 768px) {
    nav {

        width: 100%;
        height: 84px;
        flex-shrink: 0;
        
        margin-top: 10px;


    }

   

    .nav-links-container {
        display: none;
        
    }

    .burg-btn {
        position: relative;
        border: 1px solid rgb(208, 200, 200);
        border-radius: 8px;
        width: 55px;
        height: 50px;
        top: 5px;

    }

    .hamburger {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;

    }

    .line {
        width: 50%;
        height: 2px;
        background-color: #000;
        transition: all 0.3s ease;
        margin-bottom: 5px;
       
    }


    .open .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .open .line:nth-child(2) {
        opacity: 0;
    }

    .open .line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }


    .nav-links-container.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: #fff;
        backdrop-filter: blur(24px);
        z-index: 100;
        padding: 20px;
        border-radius: 10px;
        /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
        ;
        
       

    }


    .nav-links-container.open a {
        display: block;
        padding: 5px;
        margin-left: 30px;
        width: 100%;
        text-align: left;
      
    }


 

    .get-started {
        display: none;
    }
  


}




/* smaller screens */
 
@media screen and (max-width: 480px) {
    nav {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(255, 255, 255, 0.80);
        height: 84px;
        backdrop-filter: blur(24px);
        position: fixed;
        top: 0;
        left: 0;

        z-index: 100;
    }

   
    .nav-links-container {
        display: none;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 40px;
        height: 24px;
        cursor: pointer;


    }

    .line {
      
        width: 20px;
        height: 2px;
        flex-shrink: 0;
        background-color: #000;
        transition: all 0.3s ease;
    }

    .open .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .open .line:nth-child(2) {
        opacity: 0;
    }

    .open .line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }



    .nav-links-container.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background: rgba(244, 240, 240, 0.8);
        backdrop-filter: blur(24px);
        z-index: 100;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }



    .nav-links-container.open a {
        display: block;
        padding: 10px;

        width: 100%;
        text-align: left;
    }

}






 
