.company-wrapper {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 125px;
    width: 100%;
    height: 730px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(24px);

}

.heading-one {
    /* border: 1px solid red; */
    height: 100%;
    width: 51%;
    padding-left: 150px;
    padding-top: 148px;

}

.heading-one h1 {
    color: #1B442A;
    font-family: "Plus Jakarta Sans";
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 731px;


}

.heading-two {
    position: relative;
    width: 41%;
    /* border: 1px solid blue; */
    height: 78%;
}




.heading-one p {
    color: #202020;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 731px;
    margin-top: 20px;
    padding: 10px;
    /* border: 1px solid black; */

}

.heading-one button {
    width: 189px;
    height: 60px;
    background: #1B442A;
    display: inline-flex;
    padding: 16px 30px;
    align-items: center;
    gap: 11px;
    border-radius: 1000px;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;


}


.yellow {
    color: #F4B23E;
}



@media screen and (max-width: 1440px) {
    .company-wrapper {
       
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 25px;
        width: 100%;
        height: 700px;
        flex-shrink: 0;
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(24px);
        
    }

    .heading-one {
        padding-left: 40px;
        /* border: 1px solid red; */
        margin-right: 20px;
        margin-bottom: 178px;

    }

    .heading-one h1 {
        color: #1B442A;
        font-family: "Plus Jakarta Sans";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 600px;
        /* width: 731px; */
    }

    .heading-one p {
        color: #202020;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 600px;
        margin-top: 20px;
        /* border: 1px solid black; */
    }

    .heading-two {
        /* border: 1px solid red; */
        margin-bottom: 110px;
        width: 588px;
        height: 570px;
        flex-shrink: 0;
        margin-left: 20px;
    }
.heading-two img{
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    height: 100%;
    
    margin-bottom: 80px;

}
   
}

/* Mobile screens... only display h1, p and button properly aligned to the center */

@media screen and (max-width: 768px) {
    .company-wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 130px;
      height: auto;
      background: #FFF;
   
      
    }
  
    .heading-one {
      padding: 0 20px;
      width: auto;
      text-align: center;
      margin-bottom: 50px;
     
      margin-left: 30px;
    }
  
    .heading-one h1 {
        color: #1B442A;
        text-align: center;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
        font-family: "Plus Jakarta Sans";
        font-size: 33px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 346px;
    }
  
    .heading-one p {
        width: 370px;
        color: #202020;
        text-align: center;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    }
    .heading-one button {
        display: inline-flex;
        padding: 14px 30px;
        align-items: center;
        gap: 11px;
        width: 175px;
        height: 45px;
        margin-bottom: 60px;
    }
  
    .heading-two {
      display: none;
    }
  }
  

  @media screen and (max-width: 1080px){
    .company-wrapper {
      
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      height: auto;
    }

    .heading-one{
        
        width: auto;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 30px;
        
    }
    
    .heading-one h1 {
        color: #1B442A;
        text-align: center;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
        font-family: "Plus Jakarta Sans";
        font-size: 33px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 350px;
    }
  
    .heading-one p {
        width: 370px;
        color: #202020;
        text-align: center;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    }
    .heading-one button {
        display: inline-flex;
        padding: 14px 30px;
        align-items: center;
        gap: 11px;
        width: 175px;
        height: 56px;
        margin-top: 40px;
    }
  }