.company-wrapper {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 125px;
    width: 100%;
    height: 730px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(24px);

}

.heading-one {
    /* border: 1px solid red; */
    height: 100%;
    width: 51%;
    padding-left: 150px;
    padding-top: 148px;

}

.heading-one h1 {
    color: #1B442A;
    font-family: "Plus Jakarta Sans";
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 731px;


}

.heading-two {
    position: relative;
    width: 41%;
    /* border: 1px solid blue; */
    height: 78%;
}




.heading-one p {
    color: #202020;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 731px;
    margin-top: 20px;
    padding: 10px;

}

.heading-one button {
    width: 189px;
    height: 60px;
    background: #1B442A;
    display: inline-flex;
    padding: 16px 30px;
    align-items: center;
    gap: 11px;
    border-radius: 1000px;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;


}


.yellow {
    color: #F4B23E;
}



@media screen and (max-width: 1440px) {
    .company-wrapper {
        height: 600px;
        margin-top: 100px;
        padding: 0 120px; 
  box-sizing: border-box;
        /* gap: 20px; */
    }

    .heading-one {
        padding-left: 40px;
        /* border: 1px solid red; */
        margin-right: 20px;
        margin-bottom: 178px;

    }

    .heading-one h1 {
        color: #1B442A;
        font-family: "Plus Jakarta Sans";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 600px;
        /* width: 731px; */
    }

    .heading-one p {
        color: #202020;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 600px;
        margin-top: 20px;
        /* border: 1px solid black; */
    }

    .heading-two {
        /* border: 1px solid red; */
        margin-bottom: 110px;
        width: 588px;
        height: 570px;
        flex-shrink: 0;
        margin-left: 20px;
    }
.heading-two img{
    /* border: 1px solid red; */
    position: absolute;
    width: 100%;
    height: 100%;
    
    margin-bottom: 80px;

}
   
}