 
    .explore-wrapper {
        display: flex;
        width: 100%;
        padding: 0 120px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        margin-top: 103px;
        margin-left: 100px;

    }

    .explore-left {
        /* width: 900px; */
       height: 350px;
        display: flex;
        flex-direction: column;


    }

    .explore-left img {
        /* width: 516px; */
        height: 436px;




    }

    .explore-right {
        width: 100%;
        height: 430px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-right: auto;
        margin-left: 70px;
    }

    .explore-right h1 {
        width: 662px;
        height: 165px;
        color: #1B442A;
        font-family: "Plus Jakarta Sans";
        font-size: 44px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .explore-right p {
        width: 770px;
        color: #000;
        font-family: "Plus Jakarta Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .explore-right button {
        display: inline-flex;
        padding: 16px 30px;
        align-items: center;
        gap: 11px;
        border-radius: 1000px;
        background: #1B442A;
        color: #FFF;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 50px;
        width: 218px;
        cursor: pointer;
        border: none;

    }

    .explore-right button:hover {
        background: #F4B23E;
        color: #1B442A;
        transition: all 0.3s ease;
    }
    @media screen and (max-width: 1440px){
        .explore-wrapper {
            display: flex;
            width: 100%;
            padding: 0 120px;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
            gap: 50px;
            margin-top: 103px;
            margin-left: 100px;
    
        }

    
        .explore-left img {
           height: 400px;
    width: 700px;
    margin-right: 50px;
    margin-top: -45px;
    
    
        }
    
        .explore-right {
            width: 100%;
            height: 430px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-right: auto;
            margin-left: 70px;
        }
    
        .explore-right h1 {
            width: 662px;
            height: 165px;
            color: #1B442A;
            font-family: "Plus Jakarta Sans";
            font-size: 44px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
    
        .explore-right p {
            width: 770px;
            color: #000;
            font-family: "Plus Jakarta Sans";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    
        .explore-right button {
            display: inline-flex;
            padding: 16px 30px;
            align-items: center;
            gap: 11px;
            border-radius: 1000px;
            background: #1B442A;
            color: #FFF;
            font-family: "Plus Jakarta Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 50px;
            width: 218px;
            cursor: pointer;
            border: none;
    
        }
    
        .explore-right button:hover {
            background: #F4B23E;
            color: #1B442A;
            transition: all 0.3s ease;
        }
    }

@media screen and (max-width: 768px) {
    .explore-wrapper {
      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 24px;
        width: 430px;
        margin: 0 auto;
        margin-left: 30px;
 
    }

 .explore-left{
    display: none;
 }
  

    .explore-left img {
        display: none;

        /* Hides the image on mobile screens */
    }

    .explore-right {
        margin-right: 125px;
       margin-top: -40px;
        width: 100%;
        text-align: left;
     
    }

    .explore-right h1 {
        color: #1B442A;
        font-family: "Plus Jakarta Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 376px;
        height: 148px;

    }

    .explore-right p {
        width: 376px;
        color: #000;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 350;
        line-height: 24px;

     

    }

    .explore-right-right{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 130px;
       
    }


    .explore-right button {
      margin-top: 30px;
        display: inline-flex;
        padding: 14px 30px;
        width: 218px;
        height: 50px;
        

        }


}