.explore-wrapper {
    display: flex;
    width: 100%;
    padding: 103px 150px;
    justify-content: space-between;
    align-items: center;
}

.explore-left {
    width: 516px;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-right {
    width: 516px;
    height: 430px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.explore-right h1 {
    width: 650px;
    height: 165px;
    color: #1B442A;
    font-family: "Plus Jakarta Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.explore-right p {
    width: 784px;
    height: 79px;
    color: #000;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.explore-right button {
    display: inline-flex;
    padding: 16px 30px;
    align-items: center;
    gap: 11px;
    border-radius: 1000px;
background: #1B442A;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    width: 218px;
    cursor: pointer;
    border: none;
    
}

.explore-right button:hover {
    background: #F4B23E;
    color: #1B442A;
    transition: all 0.3s ease;
}