.faq-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 96px 0 48px;
    align-self: stretch;
    margin: 128px;
}

.faq-rows h2{
    width: 893px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 10.975px;
border: 1px solid #FFF;
color: #202020;
font-family: "Plus Jakarta Sans";
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 214.286% */
}