nav {
    /* border: 1px solid black; */
    width: 100%;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.80);
    height: 105px;
    /* backdrop-filter: blur(24px); */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav .nav-left {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
}




.logo {

    width: 243px;
    height: 75px;
    flex-shrink: 0;
    fill: url(/images/logo.svg), lightgray 0px -0.085px / 100% 100.228% no-repeat;
    cursor: pointer;

}

.nav-links-container {
    /* border: 1px solid green; */
    display: inline-flex;
    align-items: flex-start;
    gap: 7px;
    /* width: 100%; */
}

.nav-links-container a {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #202020;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav-links-container a:hover {
    color: #F4B23E;
  
}
.get-started {
    /* border: 1px solid blue; */
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;

}

.login-link {
    /* border: 1px solid red; */
    display: flex;
    padding: 12px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #202020;
    font-family: "Plus Jakarta Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.login-link:hover {
    border: 1px solid #1B442A;
    border-radius: 80px;
    /* color: #F4B23E; */
}

.reg-button {
    display: flex;
    padding: 12px 25px;
    justify-content: center;
    align-items: center;
    border: none;
    gap: 10px;
    border-radius: 80px;
    background: #1B442A;
    color: #FFF;
     cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.reg-button:hover {
    border: none;
    background: #F4B23E;
    color: #1B442A;
    
}

.reg-button a {
    color: #FFF;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
}
