.services {
    display: flex;
    justify-content: space-between;

    height: 830px;
    align-items: center;

}

.graph {
    display: flex;
    align-items: center;
    width: 39%;
    height: 500px;
    box-shadow: 0px -18px 40px 0px rgba(0, 0, 0, 0.10);
    border-radius: 0 50% 50% 0;



}

.dashboard {
    height: 70%;

}

.half-circle {
    width: 690px;
    height: 670px;
    border-radius: 50% 0 0 50%;
    background-color: #1B442A;
    filter: drop-shadow(0px 16px 29.8px rgba(0, 0, 0, 0.25));
    position: relative;
    overflow: hidden;
    padding-left: 177px;
    


}


.half-circle[data-aos="slide-left"] {
    opacity: 0;
    transform: translateX(-100px); /* Start with a translateX of -100px to move it off-screen */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Define transition properties */
}
.half-circle[data-aos="slide-left"].aos-animate {
    opacity: 1; /* Transition to full opacity */
    transform: translateX(0); /* Transition to translateX of 0 to bring it back to its original position */
  }
.content {

    color: white;
    text-align: center;
    /* padding: 20px; */
    min-width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-wrap h3 {
    width: 130px;
    /* height: 130px; */
    color: #F4B23E;
    font-family: "Plus Jakarta Sans";
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.content-wrap h2 {
    width: 611px;
    height: 55px;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.content-wrap p {
    width: 541px;
    height: 52px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-wrap ul {
    display: flex;
    width: 415px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    list-style: none;

}

.content-wrap ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #FFF;
    /* animation: colorAnimation 3s infinite alternate; */
}


/* CSS for fade-in animation */
@keyframes fadeIn {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  
  .dashboard[data-aos="fade-in"],
  .graph[data-aos="fade-in"]
   {
    animation: fadeIn 1s ease;
  }
  


@keyframes colorAnimation {
    0% {
        color: #fff;
    }

    50% {
        color: #F4B23E;
    }

    100% {
        color: white;
    }
}

.content-wrap li.active {
    animation: colorAnimation 2s infinite;
    /* Adjust the animation duration */
}

@media screen and (max-width: 1440px) {
    .services {
        height: 100%;
        gap: 156px;

    }

    .dashboard {
        width: 85%;
    }

    .graph {
        width: 45%;
    }

    .half-circle {
        width: 800px;
        padding-top: 68px;
    }

    .content {
        color: white;
        text-align: center;

        min-width: 100px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content-wrap h2 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .content-wrap p {
        font-size: 18px;
        width: 480px;
        margin-bottom: 10px;
    }

    .content-wrap {
        height: 500px;
    }

    .content-wrap h3 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}


/* Mobile screens */

@media screen and (max-width: 768px) {
    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;


    }

    .graph {
        display: flex;
        align-items: center;
        width: 100%;
        height: 290px;
        border: none;
        border-radius: 0;


    }

    .dashboard {
        width: 470px;
        height: 242px;
       
       

    }

    .half-circle {
        margin-top: auto;
        width: fit-content;
        border-radius: 50px;
        padding-left: 0;
        border: none;
        border-radius: 0;
        margin-top: -120px;
    }

    .content-wrap {
        width: 100%;
        height: 100%;
        margin-bottom: 170px;
        margin-left: 50px;
    }

    .content-wrap h3 {
        color: #F4B23E;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }

    .content-wrap h2 {

        color: #FFF;
        font-family: "Plus Jakarta Sans";
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

    }

    .content-wrap p {

        width: 359px;
        height: 52px;
        flex-shrink: 0;
        color: #FFF;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-top: -20px;
        line-height: normal;
    }

    .content-wrap h3 {
        font-size: 16px;

    }


    .content-wrap ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        list-style: none;

    }

    .content-wrap ul li {

        color: #FFF;
        font-family: "Plus Jakarta Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }
}


/* Media query for Galaxy S21 Ultra */

@media screen and (max-width: 375px) {
    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;


    }

    .graph {
        display: flex;
        align-items: center;
        width: 100%;
        height: 290px;
        border: none;
        border-radius: 0;

    }

    .dashboard {
        width: 80%;
        height: 300px;

    }

    .half-circle {
        margin-top: auto;
        width: fit-content;
        border-radius: 50px;
        padding-left: 0;
        border: none;
        border-radius: 0;
        margin-top: -120px;
    }

    .content-wrap {
        width: 100%;
        height: 100%;
        margin-bottom: 170px;
        margin-left: 50px;

    }

    .content-wrap h3 {
        color: #F4B23E;
        font-family: "Plus Jakarta Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }

    .content-wrap h2 {
        /* font-size: 24px; */
        color: #FFF;
        font-family: "Plus Jakarta Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;

        width: 100%;

    }

    .content-wrap p {

        width: 330px;
        height: 52px;
        flex-shrink: 0;
        color: #FFF;
        font-family: "Plus Jakarta Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        margin-top: -20px;
        line-height: normal;
        /* border: 1px solid white; */
    }

    .content-wrap h3 {
        font-size: 16px;


    }

    .content-wrap ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
        list-style: none;

    }

    .content-wrap ul li {

        color: #FFF;
        font-family: "Plus Jakarta Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

    }
}







